@import "./base.css";
@import "./code.css";
@import "./katex.css";
@import "./charts.css";
@import "./hero.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
