{% extends "_base.html" %}
{% import "_components.html" as components %}

{% block head %}
<title>{{blog.title}}</title>
{% endblock %}

{% block main %}
<div class="container mx-auto px-4 max-w-4xl">
    <!-- Profile Section -->
    <section class="flex flex-col items-center py-12">
        <picture>
            <img class="rounded-full w-48 h-48 object-cover" src="https://avatars.githubusercontent.com/u/176331224?v=4" alt="Profile Picture" />
        </picture>
        <h1 class="text-4xl font-bold mt-4">Han Damin - miniex</h1>
        <p class="mt-2 text-xl text-base-content/80">Rust + Javascript + App + Server</p>
    </section>
    <div class="divider"></div>
    <!-- Post Section -->
    <section class="py-12">
        <h2 class="text-3xl font-bold mb-8 text-center">Recent Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {% if recent_posts.len() > 0 %}
                {% for post in recent_posts %}
                    {% call components::post_card(post=post) %}
                {% endfor %}
            {% else %}
                <p class="text-center col-span-2">No recent posts available.</p>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
